@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
    url('../fonts/AvenirNext-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
    url('../fonts/AvenirNext-DemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNext-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
    url('../fonts/MonumentExtended-Ultrabold.woff') format('woff');
}
