@mixin container() {
  margin: 0 auto;
  padding: 0 20px;

  @media #{$desktop-width} {
    max-width: 1200px;
    padding: 0;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-set($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
