$font-primary: 'Avenir Next', 'Arial', sans-serif;

$color-white: #fcfcf0;
$color-black: #2d2a26;
$color-blue: #307fe2;
$color-red: #f87c56;
$color-sky: #8abadd;
$color-salmon: #f5cabf;
$color-pinky: #ecb3cb;
$color-orangy: #f68d2e;
$color-grey: #6f6a63;
$color-border: #0b1013;
$color-hover: #f68d2e;

$desktop-width: '(min-width: 1024px)';
