.about {
  padding-top: 30px;
  color: $color-white;
  background-color: $color-black;
}

.about__content {
  @include container();
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}

.about__title {
  @include font-set(36px, 700, 38px);
  color: white;
  letter-spacing: -3px;
}

.about__text {
  @include font-set(18px, 500, 27px);
  letter-spacing: -0.01em;
}

.about__image {
  height: 375px;
  background-image: url('../img/about-image.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
