.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
}

.header__menu {
  @include container();
  display: flex;
  height: 82px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  gap: 25px;
}

.navigation__item {
  @include font-set(14px, 600, 19px);
}

.user-actions {
  display: flex;
  gap: 15px;
}

.user-actions__item--user {
  display: none;
}

.user-actions__link {
  &--box {
    padding-right: 58px;
    background-image: url('../img/emoji-box.png');
    background-repeat: no-repeat;
    background-size: 20px 21px;
    background-position: 95px center;
  }

  &--user {
    @include center();
    padding: 15px;
  }
}

.top-bar {
  height: 38px;
  background: linear-gradient(90deg, #274cd6 0%, #cf63c6 49.91%, #80d7c4 100%);
  overflow: hidden;
}

.top-bar__ticker {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('../img/ticker.svg');
  background-size: auto 13px;
  background-position: 0 center;
  background-repeat: repeat-x;
  animation: ticker 6s linear infinite;
}

@media #{$desktop-width} {
  .navigation {
    display: block;
  }

  .user-actions__item--user {
    display: block;
  }

  .header__menu-btn {
    display: none;
  }
}

@keyframes ticker {
  from {
    background-position: 0 center;
  }

  to {
    background-position: -209px center;
  }
}
