.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
}

.header__menu {
  @include container();
  display: flex;
  height: 82px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  gap: 25px;
}

.navigation__item {
  @include font-set(14px, 600, 19px);
}

.user-actions {
  display: flex;
  gap: 15px;
}

.user-actions__item--user {
  display: none;
}

.user-actions__link {
  &--box {
    padding-right: 58px;
    background-image: url('../img/emoji-box.png');
    background-repeat: no-repeat;
    background-size: 20px 21px;
    background-position: 95px center;
  }

  &--user {
    @include center();
    padding: 15px;
  }
}

.top-bar {
  height: 38px;
  background: linear-gradient(90deg, #274cd6 0%, #cf63c6 49.91%, #80d7c4 100%);
  overflow: hidden;
}

.top-bar__ticker {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  animation: ticker 10s linear infinite;
}

.top-bar__content {
  display: flex;
  flex-shrink: 0;
  padding: 0 15px;
}

.top-bar__text {
  color: white;
  @include font-set(12px, 700, 16px);
  text-transform: uppercase;
  white-space: nowrap;
}

.top-bar__icon {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 30px;
}

@media #{$desktop-width} {
  .navigation {
    display: block;
  }

  .user-actions__item--user {
    display: block;
  }

  .header__menu-btn {
    display: none;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
