.kits__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 400px);
}

.kits__item {
  @include center();
  position: relative;
  border-bottom: 1px solid $color-black;
}

.kits__content {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.kits__title {
  @include font-set(36px, 700, 38px);
  letter-spacing: -3px;
}

.kits__desc {
  max-width: 390px;
  @include font-set(14px, 500, 14px);
  letter-spacing: -0.03em;
}

.kits__photo {
  position: relative;
  margin-top: 40px;

  & img {
    width: 223px;
    height: 141px;
    object-fit: contain;
  }
}

.kits__badge {
  position: absolute;
  top: -1px;
  left: 50%;
  @include center();
  width: 170px;
  height: 48px;
  color: $color-black;
  font-family: 'Monument Extended';
  @include font-set(14px, 800, 13px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-image: url('../img/kit-badge--base.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%);

  &--red {
    width: 140px;
    background-image: url('../img/kit-badge--red.svg');
  }

  &--sky {
    width: 140px;
    background-image: url('../img/kit-badge--sky.svg');
  }

  &--salmon {
    width: 140px;
    background-image: url('../img/kit-badge--salmon.svg');
  }
}

.kits__photo-badge {
  position: absolute;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;

  &--urine {
    background-image: url('../img/badge-urine.svg');
  }

  &--blood {
    background-image: url('../img/badge-blood.svg');
  }

  &--swab {
    background-image: url('../img/badge-swab.svg');
  }
}

.kits__item-one {
  & .kits__photo-badge {
    &--urine {
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
    &--blood {
      top: 0;
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }
    &--swab {
      bottom: 0;
      right: 0;
      transform: translateX(50%) translateY(50%);
    }
  }
}

.kits__item-two {
  & .kits__photo-badge {
    &--urine {
      bottom: 0;
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }
    &--blood {
      bottom: 0;
      left: 0;
      transform: translateX(50%) translateY(50%);
    }
    &--swab {
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.kits__item-three {
  & .kits__photo-badge {
    &--blood {
      left: 0;
      bottom: 50%;
      transform: translateX(-50%) translateY(50%);
    }
  }
}

.kits__item-four {
  & .kits__photo-badge {
    &--urine {
      bottom: 0;
      right: 0;
      transform: translateX(50%) translateY(-50%);
    }
    &--swab {
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

@media #{$desktop-width} {
  .kits__container {
    border-bottom: 1px solid $color-black;
  }

  .kits__wrapper {
    @include container();
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
  }

  .kits__item {
    border: none;

    &:nth-child(odd) {
      border-right: 1px solid $color-black;
    }
  }

  .kits__photo img {
    width: 320px;
    height: 200px;
  }

  .kits__photo-badge {
    width: 85px;
    height: 85px;
  }

  .kits__item-one {
    & .kits__photo-badge {
      &--urine {
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
      }
      &--blood {
        top: 0;
        right: -50%;
        transform: translateX(-50%) translateY(-50%);
      }
      &--swab {
        bottom: 0;
        right: 0;
        transform: translateX(50%) translateY(50%);
      }
    }
  }

  .kits__item-two {
    & .kits__photo-badge {
      &--urine {
        bottom: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
      }
      &--blood {
        bottom: 0;
        left: 0;
        transform: translateX(50%) translateY(50%);
      }
      &--swab {
        top: 0;
        left: -50%;
        transform: translateX(50%) translateY(-50%);
      }
    }
  }

  .kits__item-three {
    & .kits__photo-badge {
      &--blood {
        left: 0;
        bottom: 50%;
        transform: translateX(-50%) translateY(50%);
      }
    }
  }

  .kits__item-four {
    & .kits__photo-badge {
      &--urine {
        bottom: 0;
        right: 0;
        transform: translateX(50%) translateY(-50%);
      }
      &--swab {
        top: 0;
        left: -50%;
        transform: translateX(50%) translateY(-50%);
      }
    }
  }
}
